<div class="container">
  <form action="/" method="POST">
    <label>Name: <input type="text" name="user[name]"></label>
    <br>
    <label>Email: <input type="text" name="user[email]"></label>
    <br>
    <label>Password: <input type="password" name="user[password_confirmation]"></label>
    <input type="submit">
  </form>
</div>