<div class="container">
  <h2>Create an album:</h2>
  <form action="/albums/new" method="POST">
    <label>Album: <input type="text" name="title"></label>
    <br>
    <input type="submit">
  </form>
</div>