<div class="container">
  <p>You are: <%= @user %></p>
  <form class="form" enctype="multipart/form-data" action="/photos/new/<%= params[:album_id] %>" method="POST">
	<label>Image<input type="file" accept="image/*" name="photo"></label>
	<input type="submit" value="Add photo" class="button">
  </form>
</div>