<div class="container">
  <form enctype="multipart/form-data" action="/photos/new" method="POST">
    <label>Album: <input type="text" name="title"></label>
    <br>
    <label>Photo: <input type="file" name="use[photo]"></label>
    <br>
    <input type="submit">
  </form>
</div>